<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="{% url 'main:index' %}">Блокнот</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if request.user.is_authenticated %}

        {% endif %}
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:notes' %}">Записки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:reminders' %}">Напоминалки</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav justify-content-end">
            {% if request.user.is_authenticated %}
                <li class="nav-item">


                    {#                    <a class="nav-link" href="#">{{ user.username }}</a>#}


                    <div class="dropdown show">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           {{ user.username }}
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item h4" href="{% url 'main:change_user_info' %}">Изменить информацию о пользователе</a>
                            <a class="dropdown-item h4" href="{% url 'main:change_user_password' %}">Изменить пароль</a>
                            {% if not user.is_activated %}
                            <a class="dropdown-item h4" href="{% url 'main:repeat_activate' %}">Активация аккаунта</a>
                            {% endif %}
                        </div>
                    </div>


                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:logout' %}">Выйти</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:register' %}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:login' %}">Войти</a>
                </li>
            {% endif %}
        </ul>
        {#        <form class="form-inline my-2 my-lg-0">#}
        {#            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
        {#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#        </form>#}
    </div>
</nav>