<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if r.user.first_name and r.user.last_name %}
    <p align="center"style="padding: 5px; font-size: 2rem; background-color: red">Здравствуйте {{ r.user.first_name }}  {{ r.user.last_name }} вы просили напомнить вам</p>
{% else %}
    <p align="center"style="padding: 5px; font-size: 2rem; background-color: red">Здравствуйте {{ r.user }} вы просили напомнить вам</p>
{% endif %}
<p align="center"style="padding: 5px; font-size: 2rem">{{ r.title }}</p>
{#<p style="margin-left: 10%; margin-right: 10%; font-size: 1.5rem">{{ r.content }}</p>#}
<div>
    {% autoescape off %}
        {{ r.content }}
    {% endautoescape %}
</div>
</body>
</html>