{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
            Главная
        {% endblock %}
        | notesapp
    </title>
    {% bootstrap_css %}
{#    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">#}

    <link rel="shortcut icon" href="{% static 'main/images/notepad4.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'main/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'open-iconic-master/font/css/open-iconic-bootstrap.css' %}">
    {% bootstrap_javascript jquery='slim' %}
</head>
<body>
{% include 'parts/navbar.html' %}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10">
            {% bootstrap_messages %}
            {#             <div style="background: #006b1b">HJHKHKHKJHKJH</div>#}
            {% block content %}
            {% endblock %}
        </div>

    </div>
</div>


</body>
</html>