{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
{% load sidebar_tags %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {{ title|truncatechars:40 }}
{% endblock %}

{% block content %}
    <div class="row">
        {% sidebar_view %}
        <div class="col">
            <div class="card mb-3">
                <div class="card-header bg-secondary text-white ">
                    <div class="row  justify-content-between">
                        <div class="col-9 col-sm-10">
                          {{ note.title }}
                        </div>
                        <span class="col-auto">
                            <span>
                                <span class="oi oi-pencil mr-3"></span>
                                <span class="oi oi-trash"></span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="text-center">
                    {% if note.image %}
                        <a href="{{ note.image.url }}"><img class="img-thumbnail" src="{% thumbnail note.image '1000x1000' %}" alt="Card image cap"></a>
                {% else %}
                    <img class="img-thumbnail" src="{% static 'main/empty.jpg' %}" alt="Card image cap">
                {% endif %}
                </div>



                <div class="card-body">
                    <h5 class="card-title">{{ note.title }}</h5>
                    <p class="card-text"><i>{{ note.content }}</i></p>
                    <p class="card-text"><small class="text-muted">Последнее обновление: {{ note.time_update }}</small>
                    </p>
                </div>
            </div>
        </div>
{% endblock %}