{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
{% load paginate_tags %}
{% load sidebar_tags %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {{ title|truncatechars:40 }}
{% endblock %}

{% block content %}
    <div class="row">
        {% sidebar_view %}
        <div class="col">
            {% if notes.all|length == 0 %}
                <div class="text-center h3 mt-5">Нет записок</div>
            {% endif %}
            <div class="card-columns">
                {% for note in notes %}
                    <div class="card col-10 offset-1 col-sm-12 offset-sm-0 px-0">

                        <div class="text-center mt-3">
                            {% if note.image %}
                                <img class="img-thumbnail" src="{% thumbnail note.image 'default' %}"
                                     alt="Card image cap">
                            {% else %}
                                <img class="img-thumbnail" src="{% thumbnail 'empty.jpg' 'default' %}"
                                     alt="Card image cap">
                            {% endif %}
                        </div>


                        <div class="card-body">
                            <h5 class="card-title">{{ note.title|truncatechars:40 }}</h5>
                            {#                            <p class="card-text"><i>{{ note.content|truncatechars:60 }}</i></p>#}
                            {#                            <p class="card-text">#}
                            {#                                {% autoescape off %}#}
                            {#                                    {{ note.content }}#}
                            {#                                {% endautoescape %}#}
                            {#                            </p>#}
                            <div class="row justify-content-center">
                                <a href="{{ note.get_absolute_url }}" class="btn btn-secondary">Подробнее...</a>
                                <a href="{% url 'main:deletenote' note.slug %}" class="btn btn-secondary ml-3"><span
                                        class="oi oi-trash"></span></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% pagination_view %}
        </div>
    </div>
    <div class="bt-float">
        <form action="{% url 'main:addnote' %}">
            <button class="btn btn-secondary btn-lg btn-circle">
                <span style="font-size: 1.7rem" class="oi oi-plus"></span>
            </button>
        </form>
    </div>
    {#    <div style="margin-bottom: 100px" class="fixed-bottom row justify-content-end mr-4">#}
    {#        <form action="{% url 'main:addnote' %}">#}
    {#            <button style="margin-left: 100%; margin-bottom: 100px" class="pull-right btn btn-secondary btn-lg btn-circle">#}
    {#                <span style="font-size: 1.7rem" class="oi oi-plus"></span>#}
    {#            </button>#}
    {#        </form>#}
    {#    </div>#}
{% endblock %}