{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
{% load paginate_tags %}

{% block title %}
    {{ title|truncatechars:40 }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                {% if reminders.all|length == 0 %}
                    <div class="text-center h3">Напоминаний нет</div>
                {% endif %}

                <table class="table table-striped">
                    <tbody>
                    {% for reminder in reminders %}
                    <tr >
                        <th class="text-center align-middle" scope="row">{{ forloop.counter }}</th>
                        <td class="align-middle h5">{{ reminder.title|truncatechars:50}}</td>
                        <td class="align-middle text-right">
{#                            <button class="btn btn-secondary">Подробнее</button>#}
                            <a style="color:inherit" href="{{ reminder.get_absolute_url }}"><span
                                        class="h4 oi oi-ellipses"></span></a>
                        </td>
                        <td class="align-middle text-center">
                            <a style="color:inherit" href="{% url 'main:deletereminder' reminder.slug %}"><span
                                        class="h5 oi oi-trash"></span></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="bt-float">
        <form action="{% url 'main:addreminder' %}">
            <button class="btn btn-secondary btn-lg btn-circle">
                <span style="font-size: 1.7rem" class="oi oi-plus"></span>
            </button>
        </form>
    </div>

{% endblock %}