{% extends 'layout/basic.html' %}
{% load bootstrap4 %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="h1">Редактирование записки</div>
            <form class="mb-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}

                <div id="accordion">
                    <div class="">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a style="color: inherit" class="text-secondary collapsed" data-toggle="collapse" href="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                    Дополнительные изображения
                                    <span class="oi oi-chevron-bottom mr-3"></span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                {% bootstrap_formset formset layout='horizontal' %}
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <a style="color: inherit" class="text-secondary collapsed" data-toggle="collapse" href="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                    Файлы
                                    <span class="oi oi-chevron-bottom mr-3"></span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                                nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-end mr-1 mt-3">
                    {#                {% buttons submit="Войти" class="pull right" %}{% endbuttons %}#}
                    <button type="submit" class="btn btn-secondary">Изменить</button>
                </div>
            </form>

        </div>

    </div>

{% endblock %}